$background: #111;
$text: #ccc;
$highlight: #00cc00;

:root {
  color: $text;
}

body {
  background-color: $background;
  color: $text;
  font-family: "Fira Code", monospace;
  margin: 20px;

  a {
    color: $highlight;
    text-decoration: none;

    &:hover,
    h1 span:hover {
      color: #99ff99;
      cursor: pointer;
    }
  }
}

header {
  padding: 60px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  span {
    color: $highlight;
    text-shadow: 0 0 1px #00cc00, 0 0 3px #00cc00;
  }
}

main {
  div {
    h4 {
      text-align: center;
    }
  }
}

article {
  margin: 0 2rem;

  h2 {
    display: inline;
    margin: 1rem 0;
  }

  div {
    h4 {
      margin: 1rem 0 2rem 0;
      text-align: left;
    }
  }
}

summary:hover {
  cursor: pointer;
}

details[open] summary {
  color: $highlight;
}

pre {
  width: auto;
  padding: 0 3rem 1rem 0;
  background-color: rgb(16, 16, 26);
}

.red {
  color: red;
}

.gold {
  color: gold;
}

.white {
  color: white;
}

@media screen and (max-width: 600px) {
  header {
    padding-top: 5rem;
  }

  h1 {
    font-size: 2rem;
  }

  main {
    div {
      h4 {
        font-size: 1.2rem;
      }
    }
  }
}

#codepen-badge {
  position: absolute;
  top: 3%;
  left: 2%;
  padding: 1rem;
  border-radius: 2rem;
}
