$background: #111;
$text: #ccc;
$highlight: #00cc00;

:root {
  color: $text;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: $background;
  color: $text;
  font-family: "Fira Code", monospace;
  margin: 0 5rem;

  a {
    color: $highlight;
    text-decoration: none;

    &:hover,
    h1 span:hover {
      color: #99ff99;
      cursor: pointer;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  span {
    color: $highlight;
    text-shadow: 0 0 1px #00cc00, 0 0 3px #00cc00;
  }
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
    max-width: 90vw;
  }
}
